body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffe0e9, #fff5f7);
    color: #333;
}

.box {
    width: 80%;
    max-width: 500px;
    background: white;
    padding: 40px 25px;
    border-radius: 25px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.heart {
    font-size: 65px;
}

h1 {
    color: #ff4f78;
    font-size: 35px;
}

p {
    color: #777;
    font-size: 18px;
    line-height: 1.6;
}
